body {
	margin-top: 10px;
	/*margin-bottom: 50px;*/
	background: none;
}

.full {
	background: url('../resources/bg.jpg') repeat ; 
	/*-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;*/
	background-attachment: fixed;
	
	
 
}
/*
div.ui-view{
	opacity: 0.5;
}*/