body {
	margin-top: 10px;
	/*margin-bottom: 50px;*/
	background: none;
}

#menu li {
 margin-top: 0px;
}

a.note1:link {
	border-radius: 0px;
	padding-left: 70px;
	padding-bottom: 15px;
	background: url('../resources/hex0.png');
	background-repeat: no-repeat;	
}

a.note1:hover{
	border-radius: 0px;
	padding-left: 71px;
	padding-bottom: 16px;
	background: url('../resources/hex0hover.png');
	background-repeat: no-repeat;	
}

a.note2:link {
	border-radius: 0px;
	padding-left: 70px;
	padding-bottom: 15px;
	background-image: url('../resources/hex1.png');
	background-repeat: no-repeat;
}

a.note2:hover{
	border-radius: 0px;
	padding-left: 71px;
	padding-bottom: 16px;
	background-image: url('../resources/hex1hover.png');
	background-repeat: no-repeat;	
	
}

a.note3:link {
	border-radius: 0px;
	padding-left: 70px;
	padding-bottom: 15px;
	background-image: url('../resources/hex2.png');
	background-repeat: no-repeat;
}

a.note3:hover{
	border-radius: 0px;
	padding-left: 71px;
	padding-bottom: 16px;
	background-image: url('../resources/hex2hover.png');
	background-repeat: no-repeat;	
}

ul.nav li a, ul.nav li a:visited {
    color: Black;
	font-family: Georgia, serif;
	font-size: 1.4em;
	/*font-weight: bold;*/
}

ul.nav li a:hover, ul.nav li a:active {
    color: Blue;
	font-family: Georgia, serif;
	font-size: 1.4em;
	/*font-weight: bold;*/
}

ul.nav li.active a {
    color: Black;
	font-family: Georgia, serif;
	font-size: 1.4em;
	/*font-weight: bold;*/
}

#retBtn{
	background: transparent;
	color: rgba(100,200,50,0.5);
	border: none;
	padding-bottom: 50%;
	position: fixed; 
	height: 100%; 
	width: 5%; 
	top: 0;
}

#retBtn:hover{
	background: rgba(10,10,10,0.5);
	color: rgb(100,200,50);	
	cursor: n-resize;
}

/*
.full {
	background: url('../resources/bg.jpg') repeat ; 

	background-attachment: fixed;
 
}*/
/*
div.ui-view{
	opacity: 0.5;
}*/