<!DOCTYPE html>
<html class="full" style="position:relative;  min-height:100%;">
<head>  
	<title>Official Site</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<!-- CSS (load BOOTSTRAP) -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<link rel='stylesheet' href='css/custom.view.css' type='text/css' media='all'>
	
	<style>
		.navbar { border-radius:0; }
	</style>

	<!-- JS (load ANGULAR, ui-router, and custom JS file) -->
	<!-- <script src="http://code.angularjs.org/1.2.13/angular.js"></script> -->
	<script src="script/angular.js"></script> <!-- min _ not working bg-image -->
	<script src="script/angular-ui-router.min.js"></script>
	
	<script src="script/app.js"></script>
	
	<script src="script/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="script/angular-route.js"></script>
	<script src="script/angular-resource.min.js"></script>
	
	<link href="css/lightbox.css" rel="stylesheet"> 
	
	<link rel="stylesheet" href="script/angular-bootstrap-lightbox.css">
	<script src="script/angular-bootstrap-lightbox.js"></script> 
	
	
	<!-- SOMETHING /////////////// -->
	<meta http-equiv="KEYWORDS" content="тег, структура html, заголовок страницы, ключевые слова тут">
	<meta http-equiv="DESCRIPTION" content="Краткое описание страницы-- Описание структура html и элементов заголовка">	
	
</head>

<body ng-app="routerApp" ng-controller="MainController" bg-img 
     data-bg-src="http://i.imgur.com/Fi0EUCm.jpg" 
     data-bg-size="cover"
     data-bg-repeat="no-repeat"
     data-bg-attachment="fixed">
	 
	 <button id="retBtn" ng-controller="ScrollCtrl" ng-click="gotoElement('top')">{{translation.GoTop}}</button>
	 
 	 <script src="script/lightbox-plus-jquery.min.js"></script>	 
	
	<!-- CONTAINER -->
	<div class="container" 
	
		<!-- HEADER -->
		<div class="row" id="top">
			<div class="panel panel-default">
				<div class="panel-body" style="background: url('resources/5.jpg'); background-size: 100% 100%;">
					<!-- Header text -->	
					<div class="col-sm-8" >
						<a ui-sref="home" >
						<h3>{{translation.HEADER}}</h3></div>
						</a>
						
					<!-- Language RadioButtons -->	
					<div class="col-sm-4">					
						<div class="btn-toolbar pull-right" >
							<div class="btn-group" data-toggle="buttons" >
								<button class="btn" ng-model="radioModel" btn-radio="'by'">BY</button>
								<button class="btn" ng-model="radioModel" btn-radio="'en'">EN</button>
								<button class="btn" ng-model="radioModel" btn-radio="'ru'">RU</button>	
							</div>
						</div>
					</div>
						
				</div>
			</div>
		</div> 
		
		<!-- MENU+CONTENT -->
		<div class="row">
		
			<!-- MENU -->
			<div class="col-sm-2" style="padding-right:0;padding-left:0;">
				<ul id="menu" class="nav nav-pills nav-stacked" style="text-align:left;" ng-controller="HeaderController">
					<li><a ng-class="isActive('music') ? 'note1active' : 'note1'" ui-sref="music">{{translation.MENU_MUSIC}}</a></li>
					<li><a ng-class="isActive('discog') ? 'note2active' : 'note2'" ui-sref="discog">{{translation.MENU_DISC}}</a></li>
					<li><a ng-class="isActive('foto') ? 'note2active' : 'note2'" ui-sref="foto">{{translation.MENU_FOTO}}</a></li> 
					<li><a ng-class="isActive('pub') ? 'note3active' : 'note3'" ui-sref="pub">{{translation.MENU_PUB}}</a></li>
					<li><a ng-class="isActive('biogr') ? 'note1active' : 'note1'" ui-sref="biogr">{{translation.MENU_BIO}}</a></li>
					<li><a ng-class="isActive('contacts') ? 'note2active' : 'note2'" ui-sref="contacts">{{translation.MENU_CONT}}</a></li>
					<li><a ng-class="isActive('contacts') ? 'note3active' : 'note3'" ui-sref="contacts">-------</a></li>
				</ul>			
			</div>
		
			<!-- CONTENT -->
			<div class="col-sm-10">
			
				<!-- {{radioModel || 'null'}} -->

				<!-- THIS IS WHERE WE WILL INJECT CONTENT -->
				<div ui-view autoscroll="false"></div>
				
				<!-- SHOW OFF OUR FORMDATA OBJECT -->
				<!-- <pre>
					{{ formData }}
				</pre> -->
				
			</div> <!-- CONTENT -->		
		</div> <!-- MENU+CONTENT -->
		
		
		
		<!-- FOOTER 
		<div class="row">
			<div style="position:absolute; bottom:0; height:60px; width:85%; background-color:#f5f5f5; float:left; left:7%;">
			 ^^oh shit! this is fully awful markup^^
					<h4>Copyright © 2015 Evgeny Dolgalev<h4>
			</div>
		</div> -->
		
	</div> <!-- container -->	

</body>
</html>